* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bell MT", bold;
    font-family: "Bell MT", regular;
    font-family: "Eshira", regular;
}

:root {
    --caramleo: #9D5431;
    --neve: #F6EDDE;
    --marrom: #371C13;
    --caramelo_claro: #D49A63;
    --fundo_site: #fff;
    --preto: #000;
    --cor01: #FBF7F1;
    --cor02: #EAD1B0;
    --cor03: #E1BC90;
    --cor04: #CB7F44;
    --cor05: #BD6A39;
    --cor06: #663A28;
}

@font-face {
    font-family: Bell MT;
    src: url(./fontes/bell-mt.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Bell MT, bold;
    src: url(./fontes/Bell\ MT\ Bold.otf);
    font-weight: bolder;
}

@font-face {
    font-family: Eshira;
    src: url(./fontes/eshira.ttf);
    font-weight: 400;
}

body {
    background-color: var(--fundo_site);
}

/* HEADER=========================================================================================================*/

header {
    width: 100%;
    background-color: #9D5431;
}

header>.div.container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 165px;
}

.container-flex {
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}

.container-header{
    display: flex;
    padding: 60px;
}

.banner01 {
    width: 100%;
    height: 1080px;
    background-image: url(./ims/banner\ ateliê\ 01\ copiar.png\ ofc.png);
    background-size: cover;
    background-position: center;
    margin-top: 80px;
}

#Logo{
    display: flex;
    width: 270px;
    margin-right: 80px;
}

.links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.links a {
    font-size: 30px;
    color: var(--neve);
    text-decoration: none;
}

.links a:hover {
    color: var(--cor03);
    border-bottom: 1px solid var(--cor03);
}


/* Menu Hamburguer ===============================================================================================*/
#icone-barras,
#icone-x,
#menu_botao {
    display: none;
}

/* SOBRE NÓS ======================================================================================================*/
.Sobre-Nós{
    text-align: center;
    padding: 60px 0;
    display: flex;
    margin-right: 600px;

}

.Sobre-Nós h2{
    font-size: 89px;
    font-family: Bell Mt, bold;
    color: var(--caramleo);
    margin-bottom: 30px;
    margin-left: 160px;
}

.Sobre-Nós img{
    width: 550px;
    border-radius: 40px;
    margin-bottom: 40px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.2);
    /* margin-right: 50px; */
    margin-left: 370px;
}

.Sobre-Nós p{
    font-size: 30px;
    font-family: Bell MT, regular;
    color: #000;
    margin-left: 200px;
}

/* Pacotes====================================================================================================== */
.Pacotes h2{
    font-family: Bell Mt, bold;
    font-size: 89px;
    color: var(--caramleo);
    display: block;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 130px;
}

.Pacotes img{
    margin-left: 300px;
}

.Pacotes img:hover{
    transform: translateY(-10px);
}

/* Nossos Produtos ===============================================================================================*/
.Produtos h2{
    font-family: Bell Mt, bold;
    font-size: 89px;
    color: var(--caramleo);
    display: block;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 130px;
}

.Produtos img{
    margin-left: 300px;
}

/* Nossa Loja =====================================================================================================*/

#corpo{
  width: 80%;
  margin: 0 auto;
  padding: 60px 0;

  display: flex;
  justify-content: space-around;
}

.texto-loja{
    width: 50%;
}

.Loja h2{
    font-family: Bell Mt, bold;
    font-size: 89px;
    color: var(--caramleo);
    display: block;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 130px;
}

.Loja h3{
    font-family: Bell MT;
    font-size: 40px;
    color: #9D5431;
}

.Loja ul{
    font-family: Bell MT;
    font-size: 25px;
    color: #000;
    list-style: none;
}

#mapa{
    position: relative;
}

#mapa iframe{
    width: 500px;
    height: 250px;
    border: none;
    border-radius: 35px;
}

/* Footer */
footer{
    background-color: var(--marrom);
    padding: 40px 0;
    margin-top: 60px;
    color: var(--neve);
}

.container-footer{
    width: 85%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


#logo-final{
    width: 100%;
    margin-left: 90px;
}

#logo-final img{
    width: 50%;
}

.footer-social ul{
    list-style: none;
    margin-right: 220px;
}

.footer-social ul li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.footer-social img{
    height: 30px;
    margin-top:7px;
}
.footer-social ul li a{
    color: var(--bege2);
    font-size: 24px;
    font-family: Bell MT
}

.footer-social ul li a:hover{
    color: var(--caramelo_claro);
}


/* Menu Hamburguer */
/* -------------------- Responsividade --------------- */

@media screen and (max-width: 768px) {
#sombra {
        background-color: #9D562390;
        backdrop-filter: blur(10px);
        z-index: 1;
        position: fixed;
        width: 100vw;
        height: 100vh;
        right: -101vw;
        transition: .5s;
    }

    #menu_botao {
        display: block;
        z-index: 1;
    }

nav.menu {
        /* height: 100vh; */
        width: 200px;
        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        gap: 15px;

        position: fixed;
        top: 165px;
        right: -210px;
        z-index: 1;
        transition: .5s;
    }
}


